body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #333;
}

.instructions {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    /* background-color: #fff; */
    text-align: center;
}

.game-board {

    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.restart-button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 2%;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
    transition: transform 0.3s;
    color: lightblue;
}

.card.flipped {
    /* transform: rotateY(180deg); */
    transform: rotateY(360deg);
    color: black
    /* text-transform: gradient(90deg, red, blue); */
}

.card.matched {
    background-color: lightgreen;
}

