body {
    font-family: Arial, sans-serif;
    background: 
      radial-gradient(calc(1.28*17px + 6.38px/2) at left 50% bottom calc(-.8*17px),#c5ffe1 calc(100% - 6.38px),#4ba24b calc(101% - 6.38px) 100%,#0000 101%) calc(2*17px) calc(-1*calc(1.5*17px + 6.38px)),
      radial-gradient(calc(1.28*17px + 6.38px/2) at left 50% bottom calc(-.8*17px),#5fffac calc(100% - 6.38px),#4ba24b calc(101% - 6.38px) 100%,#0000 101%) calc(-1*17px) calc(calc(1.5*17px + 6.38px)/-2),
      radial-gradient(calc(1.28*17px + 6.38px/2) at left 50% top    calc(-.8*17px),#5fffac calc(100% - 6.38px),#4ba24b calc(101% - 6.38px) 100%,#0000 101%) 0 calc(1.5*17px + 6.38px),
      radial-gradient(calc(1.28*17px + 6.38px/2) at left 50% top    calc(-.8*17px),#c5ffe1 calc(100% - 6.38px),#4ba24b calc(101% - 6.38px) 100%,#0000 101%) 17px calc(calc(1.5*17px + 6.38px)/ 2),
      linear-gradient(#c5ffe1 50%,#5fffac 0);
    background-size: calc(4*17px) calc(1.5*17px + 6.38px);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Game area styles */
#gameArea {
    display: flex;
    max-width: 1000px; /* Adjust the max-width as needed */
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gameInfo {
    flex: 1;
    padding: 20px;
    text-align: center;
}

#gameArea > div {
    flex: 1;
    padding: 20px;
}

#imageDisplay {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

#wordDisplay {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

#userInput {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#checkButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkButton:hover {
    background-color: #0056b3;
}

#message {
    font-size: 18px;
    margin-bottom: 10px;
}

#score,
#timer {
    text-align: center;
    font-size: 16px;
    min-height: 5%;
    max-height: 100%;
}

.category-menu {
    text-align: center;
    margin-bottom: 20px;
}

.category-menu label {
    margin-right: 10px;
}

.category-menu select {
    text-align: left;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
}

.game-over-background {
    background: 
      radial-gradient(calc(1.28*17px + 6.38px/2) at left 50% bottom calc(-.8*17px),#ffc5c5 calc(100% - 6.38px),#a24b4b calc(101% - 6.38px) 100%,#0000 101%) calc(2*17px) calc(-1*calc(1.5*17px + 6.38px)),
      radial-gradient(calc(1.28*17px + 6.38px/2) at left 50% bottom calc(-.8*17px),#ff5f5f calc(100% - 6.38px),#a24b4b calc(101% - 6.38px) 100%,#0000 101%) calc(-1*17px) calc(calc(1.5*17px + 6.38px)/-2),
      radial-gradient(calc(1.28*17px + 6.38px/2) at left 50% top    calc(-.8*17px),#ff5f5f calc(100% - 6.38px),#a24b4b calc(101% - 6.38px) 100%,#0000 101%) 0 calc(1.5*17px + 6.38px),
      radial-gradient(calc(1.28*17px + 6.38px/2) at left 50% top    calc(-.8*17px),#ffc5c5 calc(100% - 6.38px),#a24b4b calc(101% - 6.38px) 100%,#0000 101%) 17px calc(calc(1.5*17px + 6.38px)/ 2),
      linear-gradient(#ffc5c5 50%,#ff5f5f 0);
    background-size: calc(4*17px) calc(1.5*17px + 6.38px);
}  

.restart-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
}
  

/* Scoreboard styles */
#scoreboard {
    flex: 1;
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#scoreboard h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#scoreboard p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Scoreboard table styles */
#scoreboard table {
    width: 100%;
    border-collapse: collapse;
}

#scoreboard th,
#scoreboard td {
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

#scoreboard th {
    background-color: #f0f0f0;
}

#scoreboard tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#clue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}


#homeButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333; /* Dark Grey */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#homeButton:hover {
    background-color: #555; /* Darker Grey on Hover */
}
